.container-contact {
    padding-top: 140px;
}
.inputbox-pad{
  padding: 15px 0 !important;
}

.heading-contact h4:before {
    right: 155px;
    left: auto;
}
.heading-contact h4:after {
    right: 181px;
    left: auto;
}
.input-content {
    position: relative;
    padding: 44px 12px;
    background: #fff;
    z-index: 10;
  }
  .input-content h2 {
    padding-bottom: 45px;
    font-size: 1.625em;
    font-weight: bold;
    vertical-align: middle;
  }
  .input-content .inputbox {
    overflow: hidden;
    position: relative;
    padding: 15px 0 28px 0;
  }
  .input-content .inputbox-title {
    position: absolute;
    top: 15px;
    right: 0;
    width: 200px;
    height: 30px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
  }
  .input-content .inputbox-content {
    position: relative;
    width: 100%;
  }
  .input-content .inputbox-content input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .input-content .inputbox-content textarea {
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .input-content .inputbox-content input:focus ~ label, .input-content .inputbox-content input:valid ~ label {
    color: #ccc;
    transform: translateY(-20px);
    font-size: 0.825em;
    cursor: default;
  }
  .input-content .inputbox-content textarea:focus ~ label, .input-content .inputbox-content textarea:valid ~ label {
    color: #ccc;
    transform: translateY(-20px);
    font-size: 0.825em;
    cursor: default;
  }
  .input-content .inputbox-content input:focus ~ .underline {
    width: 100%;
  }
  .input-content .inputbox-content textarea:focus ~ .underline {
    width: 100%;
  }
  .input-content .inputbox-content label {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
  }
  .input-content .inputbox-content .underline {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 2px;
    background: #6edd40;
    transition: all 200ms ease-out;
  }
  .input-content .inputbox-content textarea ~ .underline {
    bottom: 8px;
  }
  .inputbox-select {
    width: 100%;
    border: none;
    color: #ccc;
    border-bottom: 1px solid #ccc;
  }
  .inputbox-select option:invalid {
    color: green;
  }
  .inputbox-select option:valid {
    -webkit-appearance: menulist-button;
    color: black;
  }
  .inputbox-select:focus-visible {
    outline: none !important;
  }
  .inputbox-select option { 
    color: black; 
}
  input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.btn-sub-comment {
    padding: 10px 20px !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 18px;
    background: rgb(19,175,240);
    background: -webkit-linear-gradient(#00e640,#16a085);  
    background: -moz-linear-gradient(#00e640,#16a085);  
    background: -o-linear-gradient(#00e640,#16a085);  
    background: linear-gradient(#00e640,#16a085);  
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out; 
    background-size:1px 200px; 
    border: none;
    border-radius: 23px;
    width: 100%;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all ease-in-out .5s;
}
.btn-sub-comment:hover {
    background-position:100px;  
  }
  .card-support {
    position: relative;
    padding: 9px 17px;
    box-shadow: 0 0 29px -10px #b7b7b7;
    border-radius: 8px;
    transition: all ease-in-out .3s;
  }
  .card-support:hover {
    
  }
  .card-support:before {
    content: "";
    background-color: #6edd40;
    position: absolute;
    width: 6px;
    height: 100%;
    right: 0;
    top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .card-support h4 {
    font-weight: 700;
    font-size: 1.1rem;
    color: #50bd9d;
    margin-bottom: 10px;
  }
  .support-title {
    color: #545454;
    font-size: .95rem;
  }
  .support-description {
    font-weight: 700;
    color: #363636;
  }
  .support-description a {
    color: #6edd40;
    font-size: 1rem;
    font-family: sans-serif;
  }

  /* social media buttons */
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
  }
  
  .glass-btn {
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
  }
  .glass-btn.blue-btn {
    box-shadow: 0px 20px 20px -17px rgb(231, 0, 111, 0.5);
  }
  .glass-btn.blue-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(231, 0, 111, 0.7);
  }
  .glass-btn.blue-btn .content {
    font-size: 4em;
    background: linear-gradient(to right, #006fff, #00acff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
  }
  .glass-btn.red-btn {
    box-shadow: 0px 20px 20px -17px rgb(57, 174, 65, 0.5);
  }
  .glass-btn.red-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(57, 174, 65, 0.7);
  }
  .glass-btn.red-btn .content {
    font-size: 4em;
    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
  }
  .glass-btn.amber-btn {
    box-shadow: 0px 20px 20px -17px rgb(37, 162, 224, 0.5);
  }
  .glass-btn.amber-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(37, 162, 224, 0.7);
  }
  .glass-btn.amber-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
  }
  .glass-btn:hover {
    background-color: whitesmoke;
    transform: translateY(-5px);
    transition: all 0.3s;
  }